In [1]:
import sqlite3
import psycopg2
import pandas as pd

# Conectando ao banco de dados postgres

In [ ]:
connection = psycopg2.connect(
        user="postgres",
        password="senha",
        host="localhost",  # ou "localhost"
        port="5432",
        database="postgres"  # banco de dados padrão
    )

In [3]:
cursor = connection.cursor()

In [4]:
# Criando uma tabela Movies na base de dados
try:
    create_table_query = '''
        CREATE TABLE Movies (
        MovieID SERIAL NOT NULL,
        Title VARCHAR(255) NOT NULL,
        Genre VARCHAR(100),
        ReleaseYear INTEGER CHECK (ReleaseYear BETWEEN 1888 AND 2100),
        Rating DECIMAL(2, 1),
        Description TEXT,
        CreatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        PRIMARY KEY (MovieID)
            );
        '''
        # Executa o comando de criação
    cursor.execute(create_table_query)
    connection.commit()
except:
    print('Tabela ja existe!')

Tabela ja existe!

In [4]:
# Criando uma tabela Users na base de dados
try:
    create_table_query = '''
        CREATE TABLE Users (
        UserID Serial NOT NULL,
        Name VARCHAR(100),
        PhoneNumber VARCHAR(20) UNIQUE,
        CreatedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        PRIMARY KEY (UserID)
    );
        '''
        # Executa o comando de criação
    cursor.execute(create_table_query)
    connection.commit()
except:
    print('Tabela ja existe!')

Tabela ja existe!

In [5]:
# Criando uma tabela Recommendations na base de dados
try:
    create_table_query = '''
        CREATE TABLE Recommendations (
        RecommendationID Serial NOT NULL,
        UserID INT,
        MovieID INT,
        RecommendedAt TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        PRIMARY KEY (RecommendationID),
        FOREIGN KEY (UserID) REFERENCES Users(UserID),
        FOREIGN KEY (MovieID) REFERENCES Movies(MovieID)
    );
        '''
        # Executa o comando de criação
    cursor.execute(create_table_query)
    connection.commit()
except:
    print('Tabela ja existe!')

Tabela ja existe!

In [6]:
# Criando uma tabela Interactions na base de dados
try:
    create_table_query = '''
        CREATE TABLE Interactions (
        InteractionID Serial NOT NULL,
        UserID INT,
        Message TEXT,
        InteractionTime TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        PRIMARY KEY (InteractionID),
        FOREIGN KEY (UserID) REFERENCES Users(UserID)
    );
        '''
        # Executa o comando de criação
    cursor.execute(create_table_query)
    connection.commit()
except:
    print('Tabela ja existe!')

Tabela ja existe!

In [8]:
# inserindo dados nas tabelas
connection.rollback()
cursor.execute("COMMIT")

try:
    create_table_query = '''
        INSERT INTO Movies (Title, Genre, ReleaseYear, Rating, Description)
    VALUES 
    ('Inception', 'Sci-Fi', 2010, 8.8, 'A mind-bending thriller about dream manipulation.'),
    ('The Shawshank Redemption', 'Drama', 1994, 9.3, 'A story of hope and resilience inside a prison.'),
    ('The Dark Knight', 'Action', 2008, 9.0, 'Batman faces the Joker in this gritty action movie.');

    INSERT INTO Users (Name, PhoneNumber)
    VALUES 
    ('Maria Silva', '+5511987654325'),
    ('João Pereira', '+5511981234565');


    INSERT INTO Recommendations (UserID, MovieID)
    VALUES 
    (1, 1), 
    (2, 2);
        '''
        # Executa o comando de criação
    cursor.execute(create_table_query)
    connection.commit()
except:
    print('Tabela ja existe!')

Tabela ja existe!

In [9]:
connection.rollback()
cursor.execute("COMMIT")
create_table_query = '''
    Select * from Movies
    '''
# Executa o comando de criação
cursor.execute(create_table_query)
dados = cursor.fetchall()

In [10]:
pd.read_sql(create_table_query, connection)

C:\Users\jefer\AppData\Local\Temp\ipykernel_22952\1624382075.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(create_table_query, connection)

,movieid,title,genre,releaseyear,rating,description,createdat
0,1,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 14:35:35.323416
1,2,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 14:35:35.323416
2,3,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 14:35:35.323416
3,7,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 18:59:02.645788
4,8,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 18:59:02.645788
5,9,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 18:59:02.645788
6,13,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 19:13:01.748282
7,14,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 19:13:01.748282
8,15,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 19:13:01.748282
9,19,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 19:19:20.641729
10,20,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 19:19:20.641729
11,21,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 19:19:20.641729

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

# Cria a conexão com SQLAlchemy
engine = create_engine("postgresql+psycopg2://postgres:senha@localhost:5432/")

In [12]:
# Escreve a consulta
create_table_query = "SELECT * FROM Movies"

# Usa o pandas para executar a consulta
df = pd.read_sql(create_table_query, engine)

# Exibe os dados retornados como DataFrame
df

,movieid,title,genre,releaseyear,rating,description,createdat
0,1,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 14:35:35.323416
1,2,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 14:35:35.323416
2,3,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 14:35:35.323416
3,7,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 18:59:02.645788
4,8,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 18:59:02.645788
5,9,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 18:59:02.645788
6,13,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 19:13:01.748282
7,14,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 19:13:01.748282
8,15,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 19:13:01.748282
9,19,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 19:19:20.641729
10,20,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 19:19:20.641729
11,21,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 19:19:20.641729

# Conectando ao banco de dados SQLServer

In [13]:
import pyodbc
print([x for x in pyodbc.drivers()])

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server']

In [14]:
import pyodbc
conn_str = (
    "Driver={SQL Server};"
    "Server=JEFERSON\MSSQLSERVER01;"
    "Database=MovieRecommendations;"
    "Trust_Connection=yes;"
   
)
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [15]:
cursor.execute("SELECT * FROM Movies")

In [16]:
pd.DataFrame(cursor)

                                                   0
0  [1, Inception, Sci-Fi, 2010, 8.8, A mind-bendi...
1  [2, The Shawshank Redemption, Drama, 1994, 9.3...
2  [3, The Dark Knight, Action, 2008, 9.0, Batman...

In [17]:
pd.read_sql("SELECT * FROM Movies", conn)

C:\Users\jefer\AppData\Local\Temp\ipykernel_22952\2513046367.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT * FROM Movies", conn)

,MovieID,Title,Genre,ReleaseYear,Rating,Description,CreatedAt
0,1,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 11:25:44.403
1,2,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 11:25:44.403
2,3,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 11:25:44.403

**Inserindo dados atraves do pandas**

link:https://learn.microsoft.com/pt-br/sql/machine-learning/data-exploration/python-dataframe-sql-server?view=sql-server-ver16

In [18]:
data = {
    "Title": ["Inception", "The Matrix", "The Godfather", "Pulp Fiction", "The Dark Knight"],
    "Genre": ["Sci-Fi", "Sci-Fi", "Crime", "Crime", "Action"],
    "ReleaseYear": [2010, 1999, 1972, 1994, 2008],
    "Rating": [8.8, 8.7, 9.2, 8.9, 9.0],
    "Description": [
        "A skilled thief is given a chance to have his criminal history erased.",
        "A computer hacker learns about the true nature of reality and his role in it.",
        "The patriarch of an organized crime dynasty transfers control to his son.",
        "The lives of two mob hitmen, a boxer, and others intertwine in four tales.",
        "Batman faces the Joker, who seeks to create chaos in Gotham City."
    ]
}

# Criar DataFrame
df = pd.DataFrame(data)

In [20]:
df.head()

,Title,Genre,ReleaseYear,Rating,Description
0,Inception,Sci-Fi,2010,8.8,A skilled thief is given a chance to have his ...
1,The Matrix,Sci-Fi,1999,8.7,A computer hacker learns about the true nature...
2,The Godfather,Crime,1972,9.2,The patriarch of an organized crime dynasty tr...
3,Pulp Fiction,Crime,1994,8.9,"The lives of two mob hitmen, a boxer, and othe..."
4,The Dark Knight,Action,2008,9.0,"Batman faces the Joker, who seeks to create ch..."

In [49]:
for index, row in df.iterrows():
        cursor.execute("""
            INSERT INTO Movies 
            (Title, Genre, ReleaseYear, Rating, Description)
            VALUES (?, ?, ?, ?, ?)
            """,
            (
                row.Title,
                row.Genre,
                row.ReleaseYear,
                row.Rating,
                row.Description
            )
        )
        conn.commit()

In [51]:
pd.read_sql("SELECT * FROM Movies", conn)

C:\Users\jefer\AppData\Local\Temp\ipykernel_22952\2513046367.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT * FROM Movies", conn)

,MovieID,Title,Genre,ReleaseYear,Rating,Description,CreatedAt
0,1,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 11:25:44.403
1,2,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 11:25:44.403
2,3,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 11:25:44.403
3,19,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 19:48:49.743
4,20,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 19:48:49.743
5,21,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 19:48:49.743
6,22,Inception,Sci-Fi,2010,8.8,A skilled thief is given a chance to have his ...,2024-11-24 20:43:18.183
7,23,The Matrix,Sci-Fi,1999,8.7,A computer hacker learns about the true nature...,2024-11-24 20:43:18.190
8,24,The Godfather,Crime,1972,9.2,The patriarch of an organized crime dynasty tr...,2024-11-24 20:43:18.193
9,25,Pulp Fiction,Crime,1994,8.9,"The lives of two mob hitmen, a boxer, and othe...",2024-11-24 20:43:18.197
10,26,The Dark Knight,Action,2008,9.0,"Batman faces the Joker, who seeks to create ch...",2024-11-24 20:43:18.200
11,27,Inception,Sci-Fi,2010,8.8,A skilled thief is given a chance to have his ...,2024-11-24 20:45:08.270
12,28,The Matrix,Sci-Fi,1999,8.7,A computer hacker learns about the true nature...,2024-11-24 20:45:08.277
13,29,The Godfather,Crime,1972,9.2,The patriarch of an organized crime dynasty tr...,2024-11-24 20:45:08.280
14,30,Pulp Fiction,Crime,1994,8.9,"The lives of two mob hitmen, a boxer, and othe...",2024-11-24 20:45:08.283
15,31,The Dark Knight,Action,2008,9.0,"Batman faces the Joker, who seeks to create ch...",2024-11-24 20:45:08.287

```python
# Escreve a consulta
insert_query = """INSERT INTO Movies (Title, Genre, ReleaseYear, Rating, Description)
                    VALUES 
                    ('Inception', 'Sci-Fi', 2010, 8.8, 'A mind-bending thriller about dream manipulation.'),
                    ('The Shawshank Redemption', 'Drama', 1994, 9.3, 'A story of hope and resilience inside a prison.'),
                    ('The Dark Knight', 'Action', 2008, 9.0, 'Batman faces the Joker in this gritty action movie.');
                    """
                    
cursor.execute(insert_query)
```

In [52]:
from sqlalchemy import create_engine

# Parâmetros de conexão
server = 'JEFERSON\MSSQLSERVER01'  # Nome ou endereço do servidor
database = 'MovieRecommendations'  # Nome do banco de dados
username = 'seu_usuario'  # Usuário do SQL Server
password = 'sua_senha'  # Senha do SQL Server
driver = 'SQL Server'  # Verifique o driver instalado

# String de conexão
# connection_string = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}"
#Conexao com windows sem senha
connection_string = f"mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver={driver}"

In [53]:
# Criar o motor de conexão
engine = create_engine(connection_string, echo=False)

In [54]:
# Testar a conexão
try:
    with engine.connect() as connection:
        print("Conexão bem-sucedida!")
except Exception as e:
    print("Erro ao conectar ao banco de dados:", e)

Conexão bem-sucedida!

In [55]:
# Escreve a consulta
create_table_query = "SELECT * FROM Movies"

# Usa o pandas para executar a consulta
df = pd.read_sql(create_table_query, engine)

# Exibe os dados retornados como DataFrame
df

,MovieID,Title,Genre,ReleaseYear,Rating,Description,CreatedAt
0,1,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 11:25:44.403
1,2,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 11:25:44.403
2,3,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 11:25:44.403
3,19,Inception,Sci-Fi,2010,8.8,A mind-bending thriller about dream manipulation.,2024-11-24 19:48:49.743
4,20,The Shawshank Redemption,Drama,1994,9.3,A story of hope and resilience inside a prison.,2024-11-24 19:48:49.743
5,21,The Dark Knight,Action,2008,9.0,Batman faces the Joker in this gritty action m...,2024-11-24 19:48:49.743
6,22,Inception,Sci-Fi,2010,8.8,A skilled thief is given a chance to have his ...,2024-11-24 20:43:18.183
7,23,The Matrix,Sci-Fi,1999,8.7,A computer hacker learns about the true nature...,2024-11-24 20:43:18.190
8,24,The Godfather,Crime,1972,9.2,The patriarch of an organized crime dynasty tr...,2024-11-24 20:43:18.193
9,25,Pulp Fiction,Crime,1994,8.9,"The lives of two mob hitmen, a boxer, and othe...",2024-11-24 20:43:18.197
10,26,The Dark Knight,Action,2008,9.0,"Batman faces the Joker, who seeks to create ch...",2024-11-24 20:43:18.200
11,27,Inception,Sci-Fi,2010,8.8,A skilled thief is given a chance to have his ...,2024-11-24 20:45:08.270
12,28,The Matrix,Sci-Fi,1999,8.7,A computer hacker learns about the true nature...,2024-11-24 20:45:08.277
13,29,The Godfather,Crime,1972,9.2,The patriarch of an organized crime dynasty tr...,2024-11-24 20:45:08.280
14,30,Pulp Fiction,Crime,1994,8.9,"The lives of two mob hitmen, a boxer, and othe...",2024-11-24 20:45:08.283
15,31,The Dark Knight,Action,2008,9.0,"Batman faces the Joker, who seeks to create ch...",2024-11-24 20:45:08.287

```python 
# Escreve a consulta
create_table_query = """INSERT INTO Movies (Title, Genre, ReleaseYear, Rating, Description)
                    VALUES 
                    ('Inception', 'Sci-Fi', 2010, 8.8, 'A mind-bending thriller about dream manipulation.'),
                    ('The Shawshank Redemption', 'Drama', 1994, 9.3, 'A story of hope and resilience inside a prison.'),
                    ('The Dark Knight', 'Action', 2008, 9.0, 'Batman faces the Joker in this gritty action movie.');
                    """

# Usa o pandas para executar a consulta
df = pd.read_sql(create_table_query, engine)
```

In [72]:
data = {
    "Title": ["Inception", "The Matrix", "The Godfather", "Pulp Fiction", "The Dark Knight"],
    "Genre": ["Sci-Fi", "Sci-Fi", "Crime", "Crime", "Action"],
    "ReleaseYear": [2010, 1999, 1972, 1994, 2008],
    "Rating": [8.8, 8.7, 9.2, 8.9, 9.0],
    "Description": [
        "A skilled thief is given a chance to have his criminal history erased.",
        "A computer hacker learns about the true nature of reality and his role in it.",
        "The patriarch of an organized crime dynasty transfers control to his son.",
        "The lives of two mob hitmen, a boxer, and others intertwine in four tales.",
        "Batman faces the Joker, who seeks to create chaos in Gotham City."
    ]
}

# Criar DataFrame
import numpy as np
df = pd.DataFrame(data)

In [89]:
from sqlalchemy.types import NVARCHAR, Integer, Float
try:

       df.to_sql(name="Movies", 
              con=engine, 
              index=False, 
              if_exists="append",
              dtype={"Title": NVARCHAR(255), 
                     "Genre": NVARCHAR(50), 
                     "ReleaseYear": Integer, 
                     "Rating": Float, 
                     "Description": NVARCHAR}) 
except Exception as e:
    print(f"Erro: {str(e)}")

Erro: (pyodbc.Error) ('HY104', '[HY104] [Microsoft][ODBC SQL Server Driver]Valor de precisão inválido (0) (SQLBindParameter)')
[SQL: SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))]
[parameters: ('BASE TABLE', 'VIEW', 'Movies', 'dbo')]
(Background on this error at: https://sqlalche.me/e/20/dbapi)